<header>
    <!-- Brand -->
    <a href="/"> <img src="/img/logo.png" alt="logo" class="nav-brand"> </a>
    <form action="/search" class="search" method="POST">
        <input type="text" name="search" class="search-content" placeholder="Search for anything">
        <button class="search-button">
            <i class="fas fa-search"></i>
        </button>
    </form>
    {{#if user}}
    <div class="d-flex">
        <div class="dropdown mr-1 mx-4">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                Test
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="#">list</a>
                <a class="dropdown-item" href="/users/session/logout">Log Out</a>
            </div>
        </div>
    </div>
    {{else}}
    <a href="/users/session/signin" class="session">Sign In/<br>Join</a>

    {{/if}}
    <a href="/user/shopping_cart" class="shopping-cart"><i class="fas fa-shopping-cart"></i></a>

    <!-- Navigation -->

</header>
<nav class="nav-main">

    <!-- Left Nav -->
    <ul class="nav-menu">
        {{#each category}}
        <li>

            <form action="/product/{{id}}" method="POST">
                <button type="submit" name="id" value="{{id}}">{{name}}</button>
            </form>

        </li>
        {{/each}}
    </ul>
</nav>