<!--SLiDER-->
    <img class="slider" name = "public">
    
           <!-- NEWS CARDS -->
    <div class="news-cards">
        <div>
          <img src="img/example.jpg" alt="" />
          <h3>Lorem, ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
          <img src="img/example.jpg" alt="" />
          <h3>Lorem, ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
          <img src="img/example.jpg" alt="" />
          <h3>Lorem, ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
          <img src="img/example.jpg" alt="" />
          <h3>Lorem, ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
  
      <!-- Card Banner 1-->
      <section class="cards-banner-one">
        <div class="content">
          <h2>Lorem, ipsum dolor.</h2>
          <!-- lorem 20 -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat maxime facilis quasi alias illo, fugiat
            cupiditate porro dolores tenetur delectus!</p>
          <a href="#" class="btn">Learn More<i class="fas fa-chevron-right"></i></a>
        </div>
      </section>
  
      <!-- NEWS CARDS -->
      <div class="news-cards">
        <div>
          <img src="img/example.jpg" alt="" />
          <h3>Lorem, ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
          <img src="img/example.jpg" alt="" />
          <h3>Lorem, ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
          <img src="img/example.jpg" alt="" />
          <h3>Lorem, ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
          <img src="img/example.jpg" alt="" />
          <h3>Lorem, ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
  
      <!-- third card -->
      <section class="cards-banner-two">
        <div class="content">
          <h2>Lorem, ipsum dolor.</h2>
          <!-- lorem 30 -->
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut qui laudantium id quam magni accusantium,
            veritatis, ipsam labore, reprehenderit dolore repudiandae nemo sint deserunt! Suscipit facilis qui inventore
            consequatur fugit.</p>
          <a href="#" class="btn">Learn More <i class="fas fa-chevron-right"></i></a>
        </div>
      </section>
  
