          <!-- Follow -->
      <section class="social">
        <p>Follow Us</p>
        <div class="links">
          <a href="https://facebook.com">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://linkdin.com">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </section>
        </div>
    
        <!-- Footer Links -->
        <div class="footer-links">
        <div class="footer-container">
            <ul>
            <li>
                <a href="#">
                <h3>Title One</h3>
                </a>
            </li>
            <li>
                <a href="#">Blockchain</a>
            </li>
            <li>
                <a href="#">Machine Learning</a>
            </li>
            <li>
                <a href="#">Artificial Intelligence</a>
            </li>
            <li>
                <a href="#">Quantum Computing</a>
            </li>
            <li>
                <a href="#">Startup</a>
            </li>
            <li>
                <a href="#">Cryptocurrencies</a>
            </li>
            </ul>
            <ul>
            <li>
                <a href="#">
                <h3>Title Two</h3>
                </a>
            </li>
            <li>
                <a href="#">Blockchain</a>
            </li>
            <li>
                <a href="#">Machine Learning</a>
            </li>
            <li>
                <a href="#">Artificial Intelligence</a>
            </li>
            <li>
                <a href="#">Quantum Computing</a>
            </li>
            <li>
                <a href="#">Startup</a>
            </li>
            <li>
                <a href="#">Cryptocurrencies</a>
            </li>
            </ul>
            <ul>
            <li>
                <a href="#">
                <h3>Title Three</h3>
                </a>
            </li>
            <li>
                <a href="#">Blockchain</a>
            </li>
            <li>
                <a href="#">Machine Learning</a>
            </li>
            <li>
                <a href="#">Artificial Intelligence</a>
            </li>
            <li>
                <a href="#">Quantum Computing</a>
            </li>
            <li>
                <a href="#">Startup</a>
            </li>
            <li>
                <a href="#">Cryptocurrencies</a>
            </li>
            </ul>
            <ul>
            <li>
                <a href="#">
                <h3>Title Four</h3>
                </a>
            </li>
            <li>
                <a href="#">Blockchain</a>
            </li>
            <li>
                <a href="#">Machine Learning</a>
            </li>
            <li>
                <a href="#">Artificial Intelligence</a>
            </li>
            <li>
                <a href="#">Quantum Computing</a>
            </li>
            <li>
                <a href="#">Startup</a>
            </li>
            <li>
                <a href="#">Cryptocurrencies</a>
            </li>
            </ul>
        </div>
        </div>