<form action="/session/signup" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}" autofocus required>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="confirm_password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">
            Sign UP
        </button>
    </div>
</form>